@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --poppins: "Poppins", sans-serif; 
    --text-color: #011B33;
    --headerBg: #EAF8EE;
    --primary: #3BB75E;
    --black: #011B33;
    --hoverBlue: rgb(0,195,247);
    /* --headerBg: #3BB75E; */
}

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--poppins);
    min-height: 100dvh;
}
a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}


/* header styling starts here */
header{
    background-color: var(--headerBg);
    position: relative;
    overflow-x: clip;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14dvh;
    margin-inline: 1rem;
}
.logo{
    display: flex;
    align-items: center;
}
.nav_link_group{
    width: 100%;
    top: 14dvh;
    height: 86dvh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 0;
    padding: 1rem 1rem 0;
    background-color: var(--headerBg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms ease-in-out;
}
.nav_link_group > ul, .sub-container ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nav_link_group > ul > li > a, .nav_link_group > ul > li, .sub-container ul li a{
    color: var(--black);
    font-size: 1rem;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.nav_link_group > ul > li, .sub-container ul li{
    width: 100%;
}
.nav_link_group > ul > li:hover, .nav_link_group > ul > li > a:hover, #login, .sub-container ul li a:hover{
    color: var(--hoverBlue);
}
.nav_link_group > ul > li:has(span){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_link_group > ul > li > button{
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 0.3125rem;
    padding: 0.75rem 1.125rem;
    cursor: pointer;
    width: 100%;
}
.nav_link_group ul li img{
    display: none;
}
#login{
    color: var(--primary);
    transition: all 300ms ease-in-out;
}
#login:hover{
    color: var(--hoverBlue);
}
.mobile-icon{
    cursor: pointer;
}
.fa-caret-down{
    display: none;
}

/* submenu starts here */
.sub-container{
    position: absolute;
    top: 14dvh;
    left: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: auto;
    min-height: 86dvh;

    background-color: var(--headerBg);
    padding: 1rem 1rem 0;
    transition: all 250ms ease-in-out;
}
.sub-container > div{
    display: flex;
    gap: .4em;
    color: gray;
}

.sub-container ul li:first-child a{
    color: gray;
    font-size: .7rem;
}
#backIcon{
    cursor: pointer;
}


/* mobile nav screen */
@media (min-width:1021px) {
    .mobile-icon{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        height: 16dvh;
        margin-inline: 3rem;
    }
    .nav_link_group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        visibility: visible !important;
        opacity: 1 !important;
        height: auto;
        position: static;
        /* width: auto; */
        padding: 0;

    }
    .nav_link_group > ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
    .nav_link_group > ul > li{
        width: auto;
    }
    
    .nav_link_group > ul > li:has(span) > span{
        margin-left: 0.4em;
    }
    #login{
        color: var(--text-color);
    }
    .fa-caret-down{
        display: inline;
    }
    .fa-caret-right{
        display: none;
    }

    /* submenu styles starts here */
    .sub-container{
        display: none;
    }
    
}